<%= simple_form_for(@partner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :lastname %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :mobile_phone %>
    <%= f.input :email %>
    <%= f.input :document %>
    <%= f.label :birth_date %>
    <%= calendar_text_field f, :birth_date, true %>
    <%= f.label :admission_date %>
    <%= calendar_text_field f, :admission_date %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, :as => :hidden %>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
