<%= simple_form_for(@partner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :lastname %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :mobile_phone %>
    <%= f.input :email %>
    <%= f.input :document %>
    <%= f.input :birth_date, :as => :date, :start_year => Date.today.year - 90,
      :end_year => Date.today.year - 4 %>
    <%= f.input :admission_date %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
