<div class="readonly-data">
  <h2><%= @partner %></h2>

  <p>
    <strong><%= Partner.human_attribute_name 'name' %></strong>:
    <%= @partner.name %>
  </p>
  <p>
    <strong><%= Partner.human_attribute_name 'lastname' %></strong>:
    <%= @partner.lastname %>
  </p>
  <p>
    <strong><%= Partner.human_attribute_name 'address' %></strong>:
    <%= @partner.address %>
  </p>
  <p>
    <strong><%= Partner.human_attribute_name 'phone' %></strong>:
    <%= @partner.phone %>
  </p>
  <p>
    <strong><%= Partner.human_attribute_name 'mobile_phone' %></strong>:
    <%= @partner.mobile_phone %>
  </p>
  <p>
    <strong><%= Partner.human_attribute_name 'document' %></strong>:
    <%= @partner.document %>
  </p>
  <p>
    <strong><%= Partner.human_attribute_name 'email' %></strong>:
    <%= @partner.email %>
  </p>
  <% if @partner.admission_date %>
    <p>
      <strong><%= Partner.human_attribute_name 'admission_date' %></strong>:
      <%= l @partner.admission_date, :format => :long %>
    </p>
  <% end %>
  <% if @partner.birth_date %>
    <p>
      <strong><%= Partner.human_attribute_name 'birth_date' %></strong>:
      <%= l @partner.birth_date, :format => :long %>
    </p>
  <% end %>
  <p>
    <strong><%= Partner.human_attribute_name 'document' %></strong>:
    <%= @partner.document %>
  </p>
</div>
<nav class="form-actions">
  <%= link_to t('label.edit'), edit_partner_path(@partner), :class => 'btn btn-primary' if can? :update, @partner %>
  <%= link_to t('view.partners.check_payments'), payments_path(:partner_id => @partner.id), :class => 'btn' %>
  <%= link_to t('view.partners.check_assistances'), assistances_path(:partner_id => @partner.id), :class => 'btn' %>
  <div class="pull-right">
    <%= link_to t('label.list'), partners_path %>
  </div>
</nav>
