
<%= simple_form_for(@assistance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :partner_id, :collection => Partner.all, :placeholder => t('view.partners.placeholder'),
      :label_method => :to_s %>
    <%= f.input :date, :as => :string, :input_html => { :class => 'calendar' } %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, :as => :hidden %>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
