<%= simple_form_for(@assistance) do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var partner='#{escape_javascript(render(:partial => 'partner',
        :object => Partner.new, :locals => {:f => f}))}';" %>
  <% end %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :partner_id %>
    <%= render :partial => 'partner', :locals => {:f => f, :partner => @assistance.partner} %>
    <%= f.label :date %>
    <%= calendar_text_field f, :date %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
