<div class="readonly-data">
  <h2><%= t 'activerecord.models.assistance' %></h2>

  <p>
    <strong><%= Assistance.human_attribute_name 'date' %></strong>:
    <%= l @assistance.date, :format => :long %>
  </p>
  <p>
    <strong><%= Assistance.human_attribute_name 'partner_id' %></strong>:
    <%= @assistance.partner.to_s %>
  </p>

</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_assistance_path(@assistance) if can? :update, @assistance %> |
  <%= link_to t('label.list'), assistances_path %>
</div>
